@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    min-height:100vh;
    background-image: linear-gradient(#00b09b,#96c93d);
    color:white;
}
header{
    font-size:1.5rem;
}
header,form{
    min-height:20vh;
    display:flex;
    align-items: center;
    justify-content:center;
}
form input, form button{
    padding:0.5rem;
    font-size:2rem;
    border:none;
    background:white;
    outline:none;
}
form button{
    color:#00b09b;
    background:#fff;
    cursor:pointer;
    transition:all 0.4s ease;;
}
form button:hover{
    background:#00b09b;
    color:#fff;
}
.todo-container{
    display:flex;
    align-items: center;
    justify-content:center;
}
.todo-list{
    min-width:30%;
    list-style:none;
}
.todo{
    margin:0.5rem;
    background: white;
    color:black;
    font-size:1.5rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
    transition:all 0.5s ease;
}
.todo li{
    flex:1;
}
.trash-btn, .complete-btn{
    outline:none;
    background:#00b09b;
    color:white;
    border:none;
    cursor:pointer;
    padding:1rem;
    font-size:1rem;
}
.complete-btn{
    background:rgb(5, 163, 5);
}
.trash-btn{
    background:rgb(230, 69, 69);
}
.todo-item{
    padding:0rem 0.5rem;
}
.fa-trash,.fa-check{
    pointer-events:none;
}
.completed{
    text-decoration: line-through;
    opacity:0.5;
}
.fall{
    transform:translateY(8rem) rotateZ(20deg);
    opacity:0;
}