@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
html,body{
    font-family: 'Josefin Sans', sans-serif;
    position:relative;
    overflow: none;
    background-color:#d8b320;
    font-size:15px;
    padding:0;
}
p,h3{
    padding:0;
    outline:none;
}
h3{
    border-bottom:1px solid rgba(0,0,0,0.2);
    padding-bottom:5px;
}
